@using ListkovacDTO

<div class="container-md">
<div class="row" style="padding-top:1em;">
	<h2>@Model.Clanek.Name</h2>
      <p>@Model.Clanek.Text</p>
      <hr>
      <h3>Komentáře</h3>
      <div class="media">
        
      
			@foreach(KomentarDTO komentar in Model.Komentare)
				{
                     <div class="media-body" style="border:dotted 1px black; margin-top: 5px">
                          <h6 class="mt-0">@komentar.Username : </h6>
                          <p>@komentar.Text</p>
                          <p>@komentar.Time</p>
                    </div>
				}
		</div>
</div>

    <form class="form-horizontal" method="post" asp-action="CreateNewComent">

      <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">Komentář</label>
          <input name="@nameof(KomentarDTO.Text)" type="text" class="form-control" id="comment">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Odeslat</button>
        </div>
      </div>

    </form>

</div>