@using QRCoder;
@using System.Drawing;
@using ListkovacDTO;
@{
   
    ViewData["Title"] = "My Tickets";
}
<center>
@foreach (TicketDTO item in Model)
{

    <div class="card mb-3" style="max-width: 540px; padding-top:15px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="card-img-top" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@item.QrImage.GetGraphic(8)))"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@item.NazevAkce</h5>
        <p class="card-text">
            Cena: @item.Cena
                            Verze: @item.Verze
                        </p>
                        @if(@item.Status == false)
                        {
                            <p class="card-text"><small class="text-muted">Akce již proběhla</small></p>
                        }
                        
      </div>
    </div>
  </div>
</div>
    
}
</center>
